@charset "UTF-8";

/* CSS Document */
html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
	height: 92px;
	width: 100%;
	background: white;
	padding-top: 30px;
	position :fixed;
	top: 0;
	z-index: 10;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	padding: 0px 30px;
}

.header-left {
}

.logo {
	float: left;
}

.header-left li {
	list-style: none;
	float: left;
	padding-left: 30px;
	padding-top: 7px;
	font-family: Helvetica;
	color: #000000;
	font-size: 15px;
	font-weight: 700;
	text-align:　center;
}

.header-right {
	float: right;
}

.header-right i{
	padding-left: 15px;
}

.menu-icon {
	display: none;
}

body {
	background-image: url("images/back.jpg");
	
}

.images {
	margin: 150px 0 60px 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contents {
	width: 30%;
	height: 30%;
	padding: 15px;
	justify-content: space-between;
	flex: auto;
}

@media (max-width: 1000px) {
	
.images {
	flex-wrap: wrap;	
}
.contents {
	width: 50%;	
}	
}

@media (max-width:670px) {
.header-left ul {
	display: none;
}
.menu-icon {
	display: block;
	color: black;
	float:right;
	padding-right: 5px;
}

.images {
	flex-direction:column;
}
.contents {
	margin: 0 auto;
}
}

footer {
	height: 92px;
	width: 100%;
	background: white;
	padding-top: 30px;
	text-align: center;
	font-family: Helvetica;
	color: #000000;
	font-size: 15px;
	font-weight: 700;
}
